.git
.cache
*.pyc
__pycache__
python_env
ebook2audiobook.egg-info
dockerfiles
Notebooks
assets
legacy
audiobooks/cli/*
audiobooks/gui/gradio/*
audiobooks/gui/host/*
models/*
tools
tmp/*
run/*
.installed